.correctAnswer {
    background-color: $green-correct;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 10%;
    font-size: 100%;
    margin: 3%;
}



.wrongAnswer {
    background-color: $red-wrong;
    border: none;
    border-radius: 10px;
    width: 25%;
    height: 10%;
    font-size: 100%;
    margin: 3%;
}


.home:active {
    box-shadow: 2px 2px 2px 2px $dark-blue inset;
}
.homepage {
    &__startButton {
        background-color: $medium-blue;
        border: none;
        border-radius: 10px;
        width: 20%;
        height: 10%;
        font-size: 100%;
    }
    &__startButton:active {
        box-shadow: 2px 2px 2px 2px $dark-blue inset;
    }
}

.quiz {
    &__buttons {
        background-color: $medium-blue;
        border: none;
        border-radius: 10px;
        width: 25%;
        height: 10%;
        font-size: 100%;
        margin: 3%;
    }
    &__buttons:active{
        box-shadow: 2px 2px 2px 2px $dark-blue inset;
    }
    
}