.quiz {
    text-align: center;
    &__qNumber {
        font-size: xx-large;
    }
    &__img {
        max-height: 320px;
        max-width: 50%;
        border-radius: 10px;
    }
}

.answerButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

@media screen and (min-width:600px) {
    .answerButtons {
        flex-direction: row;
    }
}