@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
* {
  background-color: #e0fbfc;
  color: #3d5a80;
  font-family: "Dosis", sans-serif;
}

.correctAnswer {
  background-color: #afe1af;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 10%;
  font-size: 100%;
  margin: 3%;
}

.wrongAnswer {
  background-color: #ff5733;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 10%;
  font-size: 100%;
  margin: 3%;
}

.home:active {
  box-shadow: 2px 2px 2px 2px #3d5a80 inset;
}

.homepage__startButton {
  background-color: #98c1d9;
  border: none;
  border-radius: 10px;
  width: 20%;
  height: 10%;
  font-size: 100%;
}
.homepage__startButton:active {
  box-shadow: 2px 2px 2px 2px #3d5a80 inset;
}

.quiz__buttons {
  background-color: #98c1d9;
  border: none;
  border-radius: 10px;
  width: 25%;
  height: 10%;
  font-size: 100%;
  margin: 3%;
}
.quiz__buttons:active {
  box-shadow: 2px 2px 2px 2px #3d5a80 inset;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}
nav .home {
  height: 50px;
  border: none;
}

.homepage {
  text-align: center;
}

.quiz {
  text-align: center;
}
.quiz__qNumber {
  font-size: xx-large;
}
.quiz__img {
  max-height: 320px;
  max-width: 50%;
  border-radius: 10px;
}

.answerButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .answerButtons {
    flex-direction: row;
  }
}
.result {
  text-align: center;
  font-size: larger;
}